.searchbar-standalone{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.spacer{
  width: 50px;
}
.search-button-container{
  height: 50px;
}
.search-button{
  height: 56px;
}
.search-icon{
  height: 15px;
}
