.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture{
  max-width: 110px;
  max-height: 110px;
}


.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 400px;
  min-width: 400px;
  margin: 25px;
}

.header-image {
  background-size: cover;
}

.language{
  display: flex;
  justify-content: center;
}
